<h1>Register</h1>
<div class="first">
    <form asp-action="Insert" method="post">
        <label for="Name">Name</label><br>
        <input type="text" placeholder="Name" name="Name" required>
        <br>
        <br>
        <label for="City">City</label><br>
        <input type="text" placeholder="City" name="City" required>
        <br>
        <br>
        <button type="submit">Register</button>
    </form>
</div>
