@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>
<div class="first">
    <form asp-action="Update" method="post">

        <input type="number" placeholder="AID" name="AID" value="@Model.AID" hidden>

        <label for="Name">Name</label><br>
        <input type="text" placeholder="Name" name="Name" value="@Model.Name">
        <br>
        <br>

        <label for="City">City</label><br>
        <input type="text" placeholder="City" name="City" value="@Model.City">
        <br>
        <br/>
        <button type="submit">Update</button>
    </form>
</div>
